<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">
       
	<http pattern="/**" auto-config="true" use-expressions="true" disable-url-rewriting="true">
		<intercept-url pattern="/" access="permitAll" />
		<intercept-url pattern="/user/userOnly" access="hasRole('user')" />
		<intercept-url pattern="/user/adminOnly" access="hasRole('admin')" />
		<intercept-url pattern="/user/userAdmin" access="hasAnyRole('user','admin')" />
		<intercept-url pattern="/user/**" access="permitAll" />
		<csrf disabled="true"/>
		<form-login
			login-page="/user/loginForm"
			username-parameter="user_id"
			password-parameter="user_pw"
			login-processing-url="/user/login"
			authentication-failure-url="/user/loginForm?error=1"
			default-target-url="/user/user_login_success"	/>
		
		<logout
			logout-url="/user/logout"
			logout-success-url="/"
			invalidate-session="true"	/>
		<access-denied-handler error-page="/user/userAccessDenied"/>
		<headers>
			<frame-options       policy="SAMEORIGIN" />
			<header name="X-Content-Security-Policy" value="default-src 'self'"/>
			<header name="X-WebKit-CSP" value="default-src 'self'"/>
		</headers>
	</http>
	<beans:bean class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler"/>
     
    <authentication-manager id="authUser">
        <authentication-provider ref="SecurityAuthenticationProvider"/>
    </authentication-manager>
     
    <beans:bean id="SecurityAuthenticationProvider" class="security.co.kr.auth.SecurityAuthenticationProvider"/>
</beans:beans>