<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.swdo.boseong.DAO.MemberMapper">
<select id="selectOne" parameterType="string" resultType="member">
	select *
	from miniblogmember
	where
		miniblogmember_id = #{miniblogmember_id}
</select>
</mapper>
