<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.sesoc.moneybook.vo.Member" alias="member" />
		<typeAlias type="com.sesoc.moneybook.vo.Moneybook" alias="moneybook" />
	</typeAliases>
	<mappers>
		<mapper resource="/mapper/memberMapper.xml" />
		<mapper resource="/mapper/moneybookMapper.xml" />
	</mappers>
</configuration>
