<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sesoc.moneybook.dao.MemberMapper">

<insert id="insertMoneybookMember" parameterType="member" >
insert into moneybook_member(
    userid
    ,userpwd
        )values(
     #{userid}
    ,#{userpwd}
    )
</insert>

<!--나의 경우 :<select id="selectOne" parameterType="string" resultType="member">
<select id="selectOne" parameterType="string" resultType="member">
		select 
		    userid
		   ,userpwd
		from 
		    moneybook_member
		where
		    userid=
		    #{userid}
</select>   


선생님의 경우 : <select id="selectOne" parameterType="member" resultType="int">
내가한 방식처럼해도 되지만 선생님의 경우에는 간단하게 확인이 가능하도록 할력고
(회원가입시 0=가입실패, 1=가입성공)처럼 바로바로 확인 편하게 할려고.
 -->
<select id="selectOne" parameterType="string" resultType="member">
		select 
		    userid
		   ,userpwd
		from 
		    moneybook_member
		where
		    userid=
		    #{userid}
</select>   
</mapper>
